# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.venv
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test coverage
.coverage
.pytest_cache/

out/

# triggered by "ssh check2"
